.App {
  border: 2px solid black;
  max-width: 1260px;
  width: 90%;
  margin: 5% auto;
  letter-spacing: 1.1px;
}

p {
  color: #606060;
  font-size: 1.25rem;
}

button {
  letter-spacing: 1.15px;
}

.component-container {
  margin: 2em;
  line-height: 1.5;
}
