.hero--container {
  display: flex;
  flex-direction: column;
  margin: 1em;
  line-height: 1.5;
}

.hero--title {
  font-size: 2.5rem;
  font-weight: 700;
}

.red {
  font-weight: 700;
  color: #31c6db;
  text-decoration: #f86250 wavy underline;
}

.hero--description {
  margin-bottom: 2.3em;
}

.hero--buttons {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.hero--btn {
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  border: 2px solid #183643;
  border-radius: 8px;
  margin: 0.5em 0;
  font-size: 1rem;
  transition-duration: 300ms;
  height: 51px;
  /* padding: 0 3em; */
  color: #606060;
  background-color: #fff;
  width: 100%;
  box-shadow: 4px 4px #183643;
}

.hero--btn:is(:hover, :active),
.selected {
  cursor: pointer;
  color: white;
  background-color: #f86250;
  box-shadow: 0 0;
}

.hero--the-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero--input {
  margin: auto;
  height: 3.188rem;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 1.125rem;
  padding-left: 1rem;
  color: black;
  margin: 2rem 0 1rem 0;
  width: 300px;
}

.hero--input:focus {
  box-shadow: 4px 4px #183643;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #afafaf;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #afafaf;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #afafaf;
}

.hero--search-btn {
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  border: 2px solid #183643;
  border-radius: 8px;
  padding: 0.9rem 2rem;
  margin-bottom: 3rem;
  font-size: 1.2rem;
  transition-duration: 100ms;
  cursor: pointer;
  color: #183643;
  background-color: white;
  filter: drop-shadow(4px 4px 0 #183643);
}

.hero--search-btn:hover {
  filter: drop-shadow(6px 6px #183643);
  transform: translateY(-2px);
  color: #f86250;
  cursor: pointer;
}

.hero--search-btn:active {
  filter: drop-shadow(2px 2px #183643);
  transform: translateY(0px);
  color: #da5243;
}

.hero--mugshot {
  margin: auto;
  position: relative;
}
.hero--figaro {
  max-width: 342px;
  width: 100%;
  transition-duration: 200ms;
}

.star {
  position: absolute;
}

.hero--star1 {
  top: 0;
}

.hero--star2 {
  display: none;
  top: 52%;
  left: 80%;
}

.hero--star3 {
  display: none;
}
.hero--star4 {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero--container {
    margin: 2em;
    gap: 4em;
  }

  .hero--title {
    order: 1;
    font-size: 3rem;
  }

  .hero--btn {
    margin: 0.5em 0;
    width: 600px;
  }

  .hero--input {
    width: 500px;
  }
}

@media screen and (min-width: 982px) {
  .hero--container {
    flex-direction: row;
    justify-content: space-between;
  }

  .hero--header {
    width: 700px;
  }
  .hero--buttons {
    justify-content: space-evenly;
  }

  .hero--btn {
    width: 187px;
  }
  .hero--the-search {
    display: inline-block;
  }
  .hero--search-btn {
    margin-left: 2em;
  }

  .hero--input {
    width: 300px;
  }

  .hero--figaro {
    max-width: 290px;
  }
}

@media screen and (min-width: 1000px) {
  .hero--figaro {
    max-width: 310px;
  }
  .hero--buttons {
    justify-content: space-between;
  }

  .hero--btn {
    width: 135px;
  }
}

@media screen and (min-width: 1100px) {
  .hero--figaro {
    max-width: 342px;
  }
  .hero--title {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 1240px) {
  .hero--container {
    gap: 10em;
  }

  .hero--btn {
    width: 150px;
  }
}
