@import url("https://fonts.cdnfonts.com/css/satoshi");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

h1 {
  font-family: "Space Grotesk", sans-serif;
}

p {
  font-family: "Satoshi", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
