.pet-display--title {
  margin: auto;
  text-align: center;
}

.pet-display--title h1 {
  font-size: 2.75rem;
  font-weight: 600;
  margin-bottom: 1.5em;
}

.pet-display--pet-array {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4em;
  margin-bottom: 8em;
}
